<%- include('../../partials/header'); -%>
    <div class="container">
        <div class="card mt-4">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-3">
                        <h4>Categorias: <%= categories.length %>
                        </h4>
                    </div>
                    <div class="col-md-6">
                        <a href="/admin/categories/new" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Slug</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% categories.forEach(category=> { %>
                            <tr>
                                <th scope="row">
                                    #
                                </th>
                                <td>
                                    <%= category.title %>
                                </td>
                                <td>
                                    <%= category.slug %>
                                </td>
                                <td>
                                    <div class="btn-group btn-group-sm" role="group"
                                        aria-label="Basic mixed styles example">
                                            <a href="/admin/categories/edit/<%= category.id %>" class="btn btn-success btn-sm">Editar</a>
                                        <form method="POST" action="/admin/categories/destroy" onsubmit="confirmDelete(event,this)">
                                            <input type="hidden" value="<%= category.id %>" name="id" />
                                            <button type="submit" class="btn btn-danger btn-sm">Remover</button>
                                        </form>

                                    </div>
                                </td>
                            </tr>
                            <%})%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        function confirmDelete(event,form){
            event.preventDefault();
            let decision = confirm("Deseja remover a categoria?");
            if(decision){
                form.submit();
            }else{

            }
        }
    </script>
    <%- include('../../partials/footer'); -%>